html {
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 100%;
  line-height: 1.125em;
  font-family: 'RobotoLight', arial, sans-serif;
  color: #1e1e1e;
  background: #ffffff url('../images/bg-pattern.png') repeat;
  overflow-x: hidden;
    border-top: 5px solid #2b3e47;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../core/sizing/boxsizing.htc);
}

header {
  position: relative;
  padding: 14px 0;
  height: 70px;
  display: block;
  border: 1px solid #dcdcdc;
  border-top: none;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 2px 5px rgba(7,7,7,.07), inset 0 1px 0 rgba(255,255,255,.75);
  -moz-box-shadow: 0 2px 5px rgba(7,7,7,.07), inset 0 1px 0 rgba(255,255,255,.75);
  box-shadow: 0 2px 5px rgba(7,7,7,.07), inset 0 1px 0 rgba(255,255,255,.75);
}

#logo {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color: rgb(97, 97, 97);
  float: left;
  margin: 10px 0px 0px 5px;
}

#main-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -59px;
}

#body-wrapper {
  width: 1220px;
  margin-left: auto;
  margin-right: auto;
}

#head-buttons {
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  color: rgb(97, 97, 97);
  float: right;
  margin: 10px 0px 0px 5px;
  border-left: 1px solid;
  padding-left: 5px;
}


/*Stage Progress Bar*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
}

.nav-progress {
  display: table;
  overflow: hidden;
  margin: 0;
  width: inherit;
  height: 50px;
  border: 1px solid #27ae60;
  background-color: #f7f7f7;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  position: absolute;
  margin-top: 7%;
}
.nav-progress > div {
  position: relative;
  display: table-cell;
  padding: 14px 0;
  color: #27ae60;
  text-align: center;
  font-size: 1.125em;
  line-height: 1.250em;
}
.nav-progress > div.complete {
  background-color: #2ecc71;
  color: #FFF;
}
.nav-progress > div.complete .arrow {
  border: 1px solid #27ae60 !important;
  background: #2ecc71 !important;
}
.nav-progress > div.active {
  background-color: #2ecc71;
  color: #FFF;
}
.nav-progress > div.active .arrow {
  border: none !important;
  background: #2ecc71 !important;
}

.arrow-wrapper {
  position: absolute;
  top: 0px;
  right: 0px;
}
.arrow-wrapper .arrow-cover {
  position: absolute;
  overflow: hidden;
  width: 24px;
  height: 50px;
}
.arrow-wrapper .arrow-cover .arrow {
  position: absolute;
  left: -34px;
  z-index: 2;
  width: 50px;
  height: 50px;
  border: 1px solid #27ae60;
  background: transparent;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*Item Blocks*/
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic);

.blocks {
  max-width: 64%;
  padding: 0px;
  margin-top: 11%;
  position: absolute;
}

.blocks li {
  color: #fff;
  background-color: #2196F3;
  cursor:default;
  float:left;
  list-style:none;
  margin:1%;
  padding:60px 0;
  position:relative;
  text-align:center;
  transition:.3s cubic-bezier(.3,0,0,1.3);
  width:31%;
  border-radius: 4px;
  font-weight: bold;
}

.blocks li:hover {
  transform:scale(.7);
  z-index:3000;
}

.popup {
  background-color: inherit;
  color:#fff;
  height: 100%;
  width:100%;
  left:0;
  opacity:0;
  position:absolute;
  top:0;
  padding: 15px;
  border-radius: 4px;
  transition:.3s cubic-bezier(.3,0,0,1.37);
}

.popup span {
  font-size:12px;
  font-weight: normal;
  left:0;
  padding:15px 25px;
  position:absolute;
  top:50%;
  transform:translateY(-50%);
}

.popup h3 {
  font-size:13px;
  margin:0 0 5px;
  padding:0;
}

.blocks li:hover .popup {
  opacity:1;
  transform:scale(2);
  box-shadow: 0 0 10px 2px rgba(0,0,0,.4);
}