html {
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 100%;
  line-height: 1.125em;
  font-family: 'RobotoLight', arial, sans-serif;
  color: #1e1e1e;
  background: #ffffff url('../images/bg-pattern.png') repeat;
  overflow-x: hidden;
    border-top: 5px solid #2b3e47;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url(../core/sizing/boxsizing.htc);
}

header {
  position: relative;
  padding: 14px 0;
  height: 70px;
  display: block;
  border: 1px solid #dcdcdc;
  border-top: none;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 2px 5px rgba(7,7,7,.07), inset 0 1px 0 rgba(255,255,255,.75);
  -moz-box-shadow: 0 2px 5px rgba(7,7,7,.07), inset 0 1px 0 rgba(255,255,255,.75);
  box-shadow: 0 2px 5px rgba(7,7,7,.07), inset 0 1px 0 rgba(255,255,255,.75);
}

#logo {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  color: rgb(97, 97, 97);
  float: left;
  margin: 10px 0px 0px 5px;
}

#main-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -59px;
}

#body-wrapper {
  width: 1220px;
  margin-left: auto;
  margin-right: auto;
}

#head-buttons {
  font-family: 'Roboto', sans-serif;
  font-size: 19px;
  color: rgb(97, 97, 97);
  float: right;
  margin: 10px 0px 0px 5px;
  border-left: 1px solid;
  padding-left: 5px;
}


/*Stage Progress Bar*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
}

.nav-progress {
  display: table;
  overflow: hidden;
  margin: 0;
  width: inherit;
  height: 50px;
  border: 1px solid #27ae60;
  background-color: #f7f7f7;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  position: absolute;
  margin-top: 7%;
}
.nav-progress > div {
  position: relative;
  display: table-cell;
  padding: 14px 0;
  color: #27ae60;
  text-align: center;
  font-size: 1.125em;
  line-height: 1.250em;
}
.nav-progress > div.complete {
  background-color: #2ecc71;
  color: #FFF;
}
.nav-progress > div.complete .arrow {
  border: 1px solid #27ae60 !important;
  background: #2ecc71 !important;
}
.nav-progress > div.active {
  background-color: #2ecc71;
  color: #FFF;
}
.nav-progress > div.active .arrow {
  border: none !important;
  background: #2ecc71 !important;
}

.arrow-wrapper {
  position: absolute;
  top: 0px;
  right: 0px;
}
.arrow-wrapper .arrow-cover {
  position: absolute;
  overflow: hidden;
  width: 24px;
  height: 50px;
}
.arrow-wrapper .arrow-cover .arrow {
  position: absolute;
  left: -34px;
  z-index: 2;
  width: 50px;
  height: 50px;
  border: 1px solid #27ae60;
  background: transparent;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}